body {
    margin: 0;
    font-family: Inter, sans-serif;
    background-color:gray
}

.navbar {
    margin-left: 5%;
    margin-right: 5%;
    /* border: 5px solid black; */
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    /* border: 5px solid orangered; */
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo-img {
    width: 50px;
}

.logo-text {
    margin-left: 5%;
    font-size: 32px;
    color: dodgerblue;
    /* font-weight: 700; */
}

.title {
    /* border: 5px solid orangered; */
    font-size: 24px;
    color: yellow;
    /* font-weight: 600; */
}

.main {
    margin-left: 5%;
    background-image: url(../public/react-icon-large.png);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;
 }

 .main-title {
     font-size: 74px;
     color:yellow;
 }

 .main-list {
     font-size: 42px;
     color: rgb(255, 145, 0);
     max-width: 800px;
 }

 .main-list > li::marker {
     color: dodgerblue;
     font-size: 4rem;
 }